.add-padding-left {
    position: absolute;
    padding-left: 20px;
}

.add-padding-left-tick {
    position: absolute;
    margin-left: 1120px;
}

.add-padding-left-top {
    position: absolute;
    margin-left: 1150px;
}

.background-correct {
    background-color: green;
}

.background-wrong {
    background-color: red;
}