body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-me-tomato {
  color: tomato;
}


.add-padding-right {
    padding-right: 10px;
}

.add-padding-right-5px {
    padding-right: 5px;
}

.my-controls-at-top-right {

    position: absolute;

    top: 15px;

    right: 15px;

}

.my-controls-at-top-right2 {

    position: absolute;

    top: 15px;

    right: 45px;

}


.my-controls-right {

    position: absolute;

    right: 10px;

}